body {
    font-family: 'Comic Sans MS', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
}

h1 {
    color: #424242;
    border: 5px solid #424242;
    padding: 5px 25px 5px 25px;
    border-radius: 12%/50%;
}

#container {
    margin-top: 40px;
    margin-bottom: 75px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.colourChange {
    background-color: #424242;
    border: no-border;
}

.pixel {
    box-sizing: border-box;
    border: 0.1px solid #d9d9d9;
    margin: 0;
    background-color: #f2f2f0;
}

.buttonsContainer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

button {
    all: unset;
    color: #424242;
    border: 3px solid #424242;
    padding: 10px 30px;
    cursor: pointer;
}

#reset {
    border-radius: 22%/50%;
}

#changeColour {
    border-radius: 13%/50%;
}

#changeGridSize {
    border-radius: 15%/50%;
}

.menuBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #424242;
    opacity: 30%;
}

.menuPopUp {
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 250px;
    background-color: #424242;
    border-radius: 5%/7%;
    /* box shadows */
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.40);
    box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.40);
    /* box shadows */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #fff;
}

#confirmButton {
        all: unset;
        color: #fff;
        border: 2px solid #fff;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 19%/50%;
}

#defaultButton {
    all: unset;
    color: #fff;
    border: 2px solid #fff;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 19%/50%;
    font-size: 12px;
}

#rainbowButton {
    all: unset;
    color: #fff;
    border: 2px solid #fff;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 19%/50%;
    font-size: 12px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

#closeX {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: red;
    font-weight: bold;
    align-self: end;
    cursor: pointer;
    margin-right: 20px;
}

#innerText {
    font-size: 18px;
}

#colourButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#colourPicker {
    width: 86.66px;
    height: 36px;
}